$portail-background: rgba(255, 255, 255, 0.7);

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: center center;
  display: flex;
  flex-flow: column;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 10px auto;
  max-width: 1170px;
}

header {
  text-align: center;
  background: $portail-background;
  border-radius: 4px 4px 0 0;
  padding: 20px;

  h1 {
    font-weight: bolder;
  }
}

nav {
  color: white;
  background: #8bb860;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  a {
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
}

section {
  background: $portail-background;
  display: flex;
  flex-flow: row;
  padding: 20px;

  #PageMenu {
    max-width: 260px;
    margin-right: 20px;
    display: flex;
    flex-flow: column;

    div.input-group {
      width: 100%;
    }

    #searchbox {
      margin-bottom: 10px;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        background: white;
        //border-radius: 4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        color: #333;
        margin: 1px 0;
        padding: 0 10px;
        text-shadow: 1px 1px 2px #FFF;
        a {
          color: #333;
        }
      }
      li:hover {
        color: white;
        background: #8bb860;
        a {
          color: white;
          background: #8bb860;
          text-decoration: none;
        }
      }
    }
  }

  #Page {
    background: white;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 3px;
    flex: 1;
    padding: 10px;
  }
}

footer {
  background: $portail-background;
  border-radius: 0 0 4px 4px;
  padding: 20px;
}
